<div class="list-group-item">
  <div [ngClass]="{'list-group-item': true,
            'list-group-item-success': getSuccess,
              'list-group-item-danger': getDanger}">

      <p [ngStyle]="{'font-style':'italic','text-align':'right'}"> {{created_at | async | date : 'dd/MM/yyyy, H:mm'}}</p>
      <button id="button1" type="button" class="btn btn-success" (click)="onAddNumber()">Like it</button>
      <h4 [ngStyle]="{color: getColor}"> {{post.title}}</h4>
      <p [ngStyle]="{color: getColor}">{{post.content}}</p>
    <!-- I add a space beetween the buttons-->
    &nbsp;
    <button id="button2" type="button" class="btn btn-danger" (click)="onRemoveNumber()">Don't like it</button>
  </div>
</div>
