<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>
        {{ title1 }}
      </h1>

      <app-post-list-component [posts]="posts" *ngFor="let post of posts; let i= index"
                                [indexOfPost]= "i"></app-post-list-component>

    </div>
  </div>
</div>
